body {
	margin: 0;
	width: 100%;
	height: 100%;
}

* {
  box-sizing: border-box;
	color: #001b44;
	font-family: Share, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Megrim, sans-serif;
}

canvas {
	width: 100%;
	height: 100%;
  display: block;
}

.close {
  cursor: pointer;
}

.light {
  background-color: #eee8d5;
}

.dark {
	background-color: #001b44;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

/* BUTTONS
/*============================================================================*/

button {
	height: 48px;
	width: 150px;
	border-radius: 5px;

	vertical-align: middle;
	font-size: 22px;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);

	cursor: pointer;
}

button.toggle {
	margin: 5px;
	height: 48px;
	width: 48px;
}

button.list-button {
	margin: 5px;
  width: 100%;
  max-width: 300px;
  flex-grow: 1;
}

button.white {
	background: #ffffff;
	color: #808080;

	border: 1px solid #bfbfbf;
	border-bottom: 3px solid #bfbfbf;
}

/* LAYOUTS */
/*============================================================================*/

#ui {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	height: 100%;
	width: 100%;
	padding: 16px 16px 16px 16px;
  box-sizing: border-box;
	/*margin: 16px 16px 16px 16px;*/
}

#header {
	display: flex;
	justify-content: flex-start;
	/*align-items: center;*/
	width: 100%;
  flex-grow: 1;
}

/* MENU */
/*============================================================================*/

#userImage {
  width: 50px;
  height: 50px;

  cursor: pointer;

	transform: rotate(30deg);
	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);

	-webkit-animation: float 4s linear infinite;
	-moz-animation: float 4s linear infinite;
	animation: float 4s linear infinite;
}

/* SEARCHFIELD */
/*============================================================================*/

/*#searchField {
  flex-grow: 1;
  max-width: 300px;
  position: relative;
  vertical-align: top;
  height: 60px;
  padding: 0;
  margin-left: 16px;
  padding-left: 16px;
  font-size: 22px;
  color: #0a0a0a;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #cccccd;
  border: 0;
  border-bottom: 2px solid #222222;
  -webkit-box-shadow: inset 0 -2px #219d55;
  box-shadow: inset 0 -2px #219d55;
}*/

#searchField {
	height: 48px;
	flex-grow: 1;
  max-width: 300px;
	border-radius: 5px;

	vertical-align: middle;
	font-size: 22px;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);

	border: 0;
	border-radius: 5px;

	margin-left: 16px;
}

#searchField:focus {
	outline: none;
}

/* LOADER */
/*============================================================================*/

#loader-wrapper {
  background: #000000;
	opacity: 1;
  visibility: visible;
 	transition: visibility 0s 1s, 1s opacity;
}

#loader-wrapper.fade-out {
	opacity: 0;
	visibility: hidden;
  /*transition: 1s opacity;*/
}

#loader-wrapper.fade-in {
  opacity: 1;
  transition: 1s opacity;
  /*animation: load 2s linear;*/
}

#loader {
	-webkit-animation:spin 4s linear infinite;
	-moz-animation:spin 4s linear infinite;
	animation:spin 4s linear infinite;
}

/* MODALS */
/*============================================================================*/

.modal {
	display: flex;
	justify-content: center;
  align-items: flex-start;

  position: fixed;

  /*border-bottom: 2px solid #222222;
  -webkit-box-shadow: inset 0 -2px #219d55;
  box-shadow: inset 0 -2px #219d55;*/

  box-shadow: 0px 0px 30px #808080;

  transition: width 0.5s ease-in-out 0s, height 0.5s ease-in-out 0s, max-width 0.5s ease-in-out 0s;
}

.modal.center {
  border-radius: 5px;
  margin: 16px 16px 16px 16px;
	max-width: 500px;
}

.modal.right {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin: 16px 0px 16px 16px;
}

.modal.left {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	margin: 16px 16px 16px 0px;
}


#menu.enabled {
  max-width: 500px;
  width: calc(100% - 32px);
  height: calc(100% - 32px);
}

#menu.disabled {
  max-width: 0px;
  width: 0px;
  height: calc(100% - 32px);
}

#infos.enabled {
  width: calc(100% - 32px);
  height: calc(100% - 32px);
}

#infos.disabled {
  width: 0px;
  height: 0px;
}

#planet-infos.enabled {
  width: calc(50% - 16px);
  height: calc(100% - 32px);
}

#planet-infos.disabled {
  width: 0px;
  height: calc(100% - 32px);
}

.wrapper.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
	width: 100%;
	height: 100%;
}

.wrapper.center.disabled {
  visibility: hidden;
  transition: visibility 0s 0.5s;
}

.wrapper.center.enabled {
  visibility: visible;
  transition: visibility 0s;
}

.wrapper.right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
	width: 100%;
	height: 100%;
}

.wrapper.right.disabled {
  visibility: hidden;
  transition: visibility 0s 0.5s;
}

.wrapper.right.enabled {
  visibility: visible;
  transition: visibility 0s;
}

.wrapper.left{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
	width: 100%;
	height: 100%;
}

.wrapper.left.disabled {
  visibility: hidden;
  transition: visibility 0s 0.5s;
}

.wrapper.left.enabled {
  visibility: visible;
  transition: visibility 0s;
}

.list {
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
	align-items: flex-start;
  flex-direction: column;
  padding: 5px;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s 0.5s opacity;
}

.line {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
	/* width: 100%; */
}

.column {
	display: flex;
  justify-content: center;
  align-items: center;
	flex-direction: column;
	/* width: 100%; */
}

.modal.enabled > .list {
  visibility: visible;
  opacity: 1;
}

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 80px;
  padding-right: 5px;
  width: 100%;
  height: 60px;
  font-size: 22px;
}

.infos-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
  height: 60px;
  font-size: 22px;
}


/*
 * Alizarin
 * background: #e74c3c
 * box-shadow and stuff: #db4334
 */


/* ANIMATIONS
==============================================================================*/

@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes float {
	0% {
		-webkit-transform: translate(0, 10px);
		transform: translate(0, 5px) rotate(30deg);
	}
	50% {
		-webkit-transform: translate(0, -10px);
		transform: translate(0, -5px) rotate(30deg);
	}
	100% {
		-webkit-transform: translate(0, 10px);
		transform: translate(0, 5px) rotate(30deg);
	}
}

@keyframes load {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  50% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* #Nephritis Flat Button
==================================================*/
.nephritis-flat-button {
  flex-grow: 1;
  position: relative;
  vertical-align: top;
  max-width: 200px;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #27ae60;
  border: 0;
  border-bottom: 2px solid #219d55;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #219d55;
  box-shadow: inset 0 -2px #219d55;
}

.nephritis-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
