*~

# JSDoc
out/

# NPM / Node stuff
node_modules/

# Put editor BS here
.vscode/

# Vagrant / Puppet
sethosts.sh
Vagrantfile
puphpet/
.vagrant/
node_modules/
.vscode/
puphpet/config-custom.yaml

# Temp files for testing purposes
test.html